on: push
name: Check & Release
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: lint
        uses: Roang-zero1/factorio-mod-luacheck@master
        with:
          LUACHECKRC_URL: https://raw.githubusercontent.com/Nexela/Factorio-luacheckrc/0.17/.luacheckrc
  release-github:
    runs-on: ubuntu-latest
    needs: [shfmt, lint]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - uses: actions/checkout@master
    - name: Create GitHub release
      uses: Roang-zero1/github-create-release-action@master
      with:
        version_regex: '^v[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+'
        update_existing: 'true'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}